*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{font-size: 62.5%;}
body{background-color: #040714;}

h1{
    text-align: center;
    font-size: 4rem;
    color: whitesmoke; 
    font-weight: 600;
}

.cont{
    display: flex;
    margin: 1rem auto;
    padding: 0 3em;
    justify-content: center;
    align-items: center;
}
#search{
    display: flex;
    margin: 0.5rem 0 2rem 0;
    text-align: center;
    justify-content: center;
}
#search input{
    outline: 0;
    padding: 0.3rem;
    width: 30rem;
    background-color: rgb(83, 83, 83);
    border: 1px solid rgb(153, 153, 153);
    border-radius: 0.25rem;
}
#search input:focus{
    outline: 0;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.5s;
}
#search input::placeholder{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 300;
}
#search input[type="text"]{
    color: white;
}
#search button{
    background-color: rgb(60, 177, 255);
    border: 1px solid rgb(60, 177, 255);
    border-radius: 0;
    margin-left: 0.1rem;
    width: 12rem;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    justify-items: center;
    justify-content: center !important;
    align-items: start;
    gap: 20px;  
}

.grid .card{
    display: flex;
    flex-direction: column;
    width: 20rem; max-height: 35rem;
 }

 .grid .card img{
   width: 20rem;
    height: auto;
    border: 1px solid black;
    border-radius: 1rem;
    min-width: 10rem;
    z-index: 0;
}
.card .intro {
    width: 100%;
    background-color: black;
    position: relative;
}
.grid .title{
    color: aliceblue; 
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    width: inherit;
}
/* .card :hover, .card .intro:hover{
    opacity: 1;
} */

.card .intro a h3{
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    /* overflow: hidden; */
    font-size: 1.2rem;
    color: white;
    position: absolute;
    bottom:  2rem;
    background-color: #020202;
    width: 100%;
    height: 2rem;
}
