*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cont{
    display: flex;
    margin: 1em auto;
    padding: 0 3em;
    justify-content: center;
    align-items: center;
}
.grid div{
   max-width: 100% !important;
}

.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 20px;

    /*
    /* align-items: center;
    justify-content: center;
    align-items: center; */
    /* column-gap: 10em;
    row-gap: 30px;
    justify-content: space-between; */ 
    
}